body {
  padding-top: 50px;
}
.container {
  max-width: 1500px;<
}
.jumbotron {
  text-align: center;
}

.glyphicon {
  font-size: 3em;
  display: block;
  text-align: center;
  color: blue;
}

.carousel-indicators {
  bottom:0;
}

.carousel-indicators.active {
  background-color: black;

}
.carousel-indicators li {
  background-color: black;
}

.carousel img {
  width:1400px;
  min-height: 600px;

}
